.toolbar{
    height: 2rem;
    width: 100%;
    justify-content: space-evenly;
  }
.button{
  font-family: "Times New Roman", Times, serif;
  font-size: small;
  margin-left: 4rem;
  margin-right: 4rem;
}
.center-of-screen{
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}