<div class="main">
    <div class="container">
        <h5 style="text-align:center; padding-bottom:2rem">Terms and conditions</h5>
        <h1>Introduction</h1>
        <h2>1.1 Contract</h2>
        <h4>You agree that by clicking “Join Now”, “Join IJobs, “Sign Up” or similar, registering, accessing or using our services (described below), you are agreeing to enter into a legally binding contract with IJobs (even if you are using our Services on behalf of a company). If you do not agree to this contract (“Contract” or “User Agreement”), do not click “Join Now” (or similar) and do not access or otherwise use any of our Services. If you wish to terminate this contract, at any time you can do so by closing your account and no longer accessing or using our Services.</h4>
        <h3>Services</h3>
        <h4>This Contract applies to IJobs.com, IJobs-branded apps, IJobs Learning and other IJobs-related sites, apps, communications and other services that state that they are offered under this Contract (“Services”), including the offsite collection of data for those Services, such as our ads and the “Apply with IJobs” and “Share with IJobs” plugins. Registered users of our Services are “Members” and unregistered users are “Visitors”.</h4>
        <h2>1.2 Members and Visitors</h2>
        <h4>When you register and join the IJobs Services, you become a Member. If you have chosen not to register for our Services, you may access certain features as a “Visitor.”</h4>
        <h2>1.3 Change</h2>
        <h4>We may modify this Contract, our Privacy Policy and our Cookies Policy from time to time. If we make material changes to it, we will provide you notice through our Services, or by other means, to provide you the opportunity to review the changes before they become effective. We agree that changes cannot be retroactive. If you object to any changes, you may close your account. Your continued use of our Services after we publish or send a notice about our changes to these terms means that you are consenting to the updated terms as of their effective date.</h4>

        <br>
        <h1>Obligations</h1>
        <h2>2.1 Service Eligibility</h2>
        <h4>The Services are not for use by anyone under the age of 16.

            To use the Services, you agree that: (1) you must be the "Minimum Age"(described below) or older; (2) you will only have one IJobs account, which must be in your real name; and (3) you are not already restricted by IJobs from using the Services. Creating an account with false information is a violation of our terms, including accounts registered on behalf of others or persons under the age of 16.
            
            “Minimum Age” means 16 years old. However, if law requires that you must be older in order for IJobs to lawfully provide the Services to you without parental consent (including using of your personal data) then the Minimum Age is such older age.</h4>
        <h2>2.2 Your Account</h2>
        <h4>Members are account holders. You agree to: (1) use a strong password and keep it confidential; (2) not transfer any part of your account (e.g., connections) and (3) follow the law and our list of Dos and Don’ts and Professional Community Policies. You are responsible for anything that happens through your account unless you close it or report misuse.</h4>

        <br>
        <h2>Rights and Limits</h2>
        <h3>3.1. Your License to IJobs</h3>
        <h4>As between you and IJobs, you own the content and information that you submit or post to the Services, and you are only granting IJobs and our affiliates the following non-exclusive license:

            A worldwide, transferable and sublicensable right to use, copy, modify, distribute, publish and process, information and content that you provide through our Services and the services of others, without any further consent, notice and/or compensation to you or others. These rights are limited in the following ways:
            
            You can end this license for specific content by deleting such content from the Services, or generally by closing your account, except (a) to the extent you shared it with others as part of the Service and they copied, re-shared it or stored it and (b) for the reasonable time it takes to remove from backup and other systems.
            We will not include your content in advertisements for the products and services of third parties to others without your separate consent (including sponsored content). However, we have the right, without payment to you or others, to serve ads near your content and information, and your social actions may be visible and included with ads, as noted in the Privacy Policy. If you use a Service feature, we may mention that with your name or photo to promote that feature within our Services, subject to your settings.
            We will get your consent if we want to give others the right to publish your content beyond the Services. However, if you choose to share your post as "public, everyone or similar", we will enable a feature that allows other Members to embed that public post onto third-party services, and we enable search engines to make that public content findable though their services. Learn More
            While we may edit and make format changes to your content (such as translating or transcribing it, modifying the size, layout or file type or removing metadata), we will not modify the meaning of your expression.
            Because you own your content and information and we only have non-exclusive rights to it, you may choose to make it available to others, including under the terms of a Creative Commons license.</h4>

        <h2>3.2 Service Availability</h2>
        <h4>We may change, suspend or discontinue any of our Services. We may also modify our prices effective prospectively upon reasonable notice to the extent allowed under the law.

            We don’t promise to store or keep showing any information and content that you’ve posted. IJobs is not a storage service. You agree that we have no obligation to store, maintain or provide you a copy of any content or information that you or others provide, except to the extent required by applicable law and as noted in our Privacy Policy.</h4>
        <h2>3.3 Limits</h2>
        <h4>IJobs reserves the right to limit your use of the Services, including the number of your connections and your ability to contact other Members. IJobs reserves the right to restrict, suspend, or terminate your account if you breach this Contract or the law or are misusing the Services (e.g., violating any of the Dos and Don’ts or Professional Community Policies).</h4>

        <h2>3.4 Intellectual Property Rights</h2>
        <h4>IJobs reserves all of its intellectual property rights in the Services. Trademarks and logos used in connection with the Services are the trademarks of their respective owners. IJobs, and “in” logos and other IJobs trademarks, service marks, graphics and logos used for our Services are trademarks or registered trademarks of IJobs.</h4>
    </div>
</div>