<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-toolbar class="toolbar">
    <mat-toolbar-row class="up-container">
        <span class = "left-tool-bar">

            <button mat-raised-button class="button1" routerLink="/dashboard">
                <h1>IJobs</h1>
            </button>
            
            <a mat-button class="button2" routerLink="/companies"> Companies </a>
            <a mat-button class="button2" routerLink="/jobs"> Jobs </a>
            <a mat-button class="button2" routerLink="/users"> People </a>
            <div class="search">
                <i class="fa fa-search"  aria-hidden="true"></i>
                <input class="searchbar"  placeholder="Search.." name="search" type="text">
            </div>
                
                
        </span>

        <span class="middle-toolbar"></span>

        <span class="right-toolbar" [ngSwitch]="isAuthenticated()">
            <button mat-raised-button class="button3" *ngSwitchCase="true" routerLink="/profile">Profile</button>
            <button mat-raised-button class="button3" *ngSwitchCase="true" (click)="logout()">Logout</button>
            <button mat-raised-button class="button3" *ngSwitchCase="false"  routerLink="/register">Join Now</button>
            <button mat-raised-button class="button3" *ngSwitchCase="false"  routerLink="/login">Sign In</button>
        </span>
    </mat-toolbar-row>
  </mat-toolbar>
