.up-container{
  display: flex;
  height: 4rem;
  width: 100%;
  justify-content: space-evenly;
}
.toolbar{
  position: sticky;
  background-color: rgb(14, 83, 212);
  }
.left-toolbar{
  display: flex;
  flex-direction: row;
}
.button1{
  font-size: xx-large;
  background-color: rgb(33, 101, 227);
  color : #fff;
  font-family: "Times New Roman", Times, serif;
}
.button2{
  font-size: x-large;
  color : rgb(255, 251, 247);
  margin: 0.5rem;
  font-family: "Times New Roman", Times, serif;
}

.searchbar{
  padding-left: 30px;
  font-size: 18px;
  border: 1px solid grey;
  width: 60%;
  background: white;
}
.left-tool-bar i{
  //display: flex;
  //flex-direction: column;
padding-left: 10px;
padding-top: 17px;
position:absolute;
color: rgb(175, 175, 175);
font-size: 18px;
height:100%;
align-items: center;
justify-content: center;
text-align: center;
//left:0;
}
.middle-toolbar {
    flex: 1 1 auto;
}
.button3{
  background-color: rgb(255, 251, 247);
  margin: 0.5rem;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}
.space {
    margin-right: 4px;
}
.right-toolbar{
  display: flex;
  flex-direction: row;
}
.right-toolbar h1{
  color:white;
  font-size: 22px;
  padding-right: 5px;
  padding-top: 14px;

}