.main{
  height: 100%;
  background: rgb(242, 244, 245);
  padding-bottom: 4rem;
  padding-top: 5rem;
}
.main h1{
  text-align:center;
  padding-top: 3%;
  margin-bottom: 3%;
  font-size: 24px;
}
.form{
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
}
.primary{
  border-radius: 5px;
  width:100%;
  height: 25p;
  font-family: "Times New Roman", Times, serif;
  box-shadow: -0.2em 0 .4em grey;
  background-color: #fff;
  margin-bottom: 15px;
  padding-bottom: 1rem;
}
.primary h1{
  padding-left: 2rem;
  padding-top: 1rem;
  text-align: left;
  font-size: 20px;
  width: 80%;
}
.primary label{
  padding-left: 2rem;
  padding-bottom:6px;
  box-sizing: border-box;
  font-size: 20px;
  width: 90%;
}
.label2{
  padding-left: 2rem;
  padding-bottom:6px;
  box-sizing: border-box;
  font-size: 18px;
  width: 90%;
}
.primary input{
  margin-left: 2rem;
  width: 70%;
  max-width: 70%;
  border-color: black;
  padding: 15px 45px 15px 15px;
  border-width: 2px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 18px;
}
.select-picker{
  margin-left: 2rem;
  width: 70%;
  border-color: black;
  padding: 15px 45px 15px 15px;
  border-width: 2px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 18px;
}
.primary textarea{
  margin-left: 2rem;
  font-size: medium;
  width: 70%;
  max-width: 70%;
  border-color: black;
  padding: 15px 45px 15px 15px;
  border-width: 2px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.buttons{
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: right;
}
.button1{
color: black;
padding-right: 1rem;
}
.button2{
  font-size: large;
  color : rgb(255, 251, 247);
  background-color: rgb(33, 101, 227);
  margin: 0.5rem;
  font-family: "Times New Roman", Times, serif;
}