<link rel="stylesheet"
          href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<main class="main">
<h1>Change Job Details</h1>



<form [formGroup]="form" (ngSubmit)="save()" class="form">
    <div class = "primary">
        <h1 class="label" for="open">Are you still recruiting for this position?</h1>

        <div class="panel-body">
            <div class="form-group">
                <div class="input">
                    <select id="open" name="open" formControlName= "open" class="select-picker">
                        <option *ngFor = "let item of Vacant" [value]="item">
                            {{item}}
                        </option>
                    <i class='fa fa-angle-down'></i>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class = "primary">
        <div class="panel-body">
            <div class="form-group">
                <h1 class="label" for="jobTitle">Job Title</h1>
                <div class="input">
                    <input id="jobTitle" style="text-transform: capitalize;" formControlName="jobTitle" type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <div class = "primary">
        <div class="panel-body">
            <div class="form-group">
                <h1 class="label" for="description">The Job Description</h1>
                <div class="input">
                    <textarea rows="10" id="description" style="text-transform: capitalize;" placeholder="Try to add all the essential details." formControlName="description">
                    </textarea>
                </div>
            </div>
        </div> 
    </div>


    <div class = "primary">
        <h1 class="label">Details</h1>

        <div class="panel-body">
            <div class="form-group">
                <p class="label2" for="jobType">Job Type</p>
                <div class="input">
                    <select id="jobType" name="jobType" formControlName= "jobType" class="select-picker">
                        <option disabled selected value> -- select an option -- </option>
                        <option *ngFor = "let item of JobTypes" [value]="item">
                            {{item}}
                        </option>
                    <i class='fa fa-angle-down'></i>
                    </select>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <p class="label2" for="address">Office Address</p>
                <div class="input">
                    <input id="address" style="text-transform: capitalize;" formControlName="address" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <p class="label2" for="experience">Experience Level</p>
                <select id="experience" name="experience" formControlName= "experience" class="select-picker">
                    <option disabled selected value> -- select an option -- </option>
                    <option *ngFor = "let item of Experience" [value]="item">
                        {{item}}
                    </option>
                </select>
            </div>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <p class="label2" for="salary">Base Salary</p>
                <div class="input">
                    <input id="salary" formControlName="salary" type="text" class="form-control" numbersOnly>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="admin" class="primary">
        <div *ngIf="admin" class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="companyId">Company</label>

                    <select id="companyId" name="companyId" formControlName= "companyId" class="select-picker">
                        <option disabled selected value> -- select an option -- </option>
                        <option *ngFor = "let item of CompanyList" [value]="item.id">
                            {{item.name}}
                        </option>
                    </select>
            </div>
        </div>
    </div>

    <div class = "primary">
        <div class="panel-body">
            <div class="form-group">
                <h1>Place the job in a category</h1>
                <label class="col-sm-2 control-label">Domain*</label>
                <select class="select-picker" (change)="changeDomain($event)">
                    <option disabled selected value> -- select an option -- </option>
                    <option *ngFor = "let item of DomainList" [value]="item.id">
                        {{item.name}}
                    </option>
                </select>
                <div *ngIf="selectedDomain.name != ''">
                    <label class="col-sm-2 control-label">Subdomain*</label>
                    <select class="select-picker" (click)="changeSubdomain($event)">
                        <option disabled selected value> -- select an option -- </option>
                        <option *ngFor = "let item of selectedDomain.subdomains" [value]="item.id">
                            {{item.name}}
                        </option>
                    </select>
                </div>
                
            </div>
        </div>
    </div>

    <p fxLayoutAlign="center center" style="color: red;" *ngIf="error" class="alert alert-danger">{{error}}</p>
    <div class="buttons">
        <button mat-button class="button1" (click)="cancel()">Cancel </button>
        <button mat-raised-button class="button2" type="submit"> Update Job</button>
    </div>

</form>