<main class="main">

<h1>{{Job.jobTitle}}</h1>

<div class="space">
    <div class="buttons" *ngIf="editDeleteRights">
        <button mat-button class="button2" (click)="editJob(Job.id)">Edit</button>
        <button mat-button class="button1" (click)="removeJob(Job.id)">Delete</button>
    </div>
</div>

<div class="primary" style="cursor: pointer;"  (click)="getCompanyDetails(Job.companyId)">
    <mat-card class="example-card">
        <h2>Company</h2>
        <mat-card-content>
            <div>
                {{Job.Company.name}}
            </div>
        </mat-card-content>
        <mat-card-content>
            <div>
                {{Job.Company.address}}
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="primary">
    <mat-card class="example-card">
        <h2>Job Description</h2>
        <mat-card-content>
            <div>
                {{Job.description}}
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="primary">
    <mat-card class="example-card">
        <h2>Details</h2>
        <mat-card-header>
            <mat-card-title>Job Type</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                {{Job.jobType}}
            </div>
        </mat-card-content>
        <mat-card-header>
            <mat-card-title>Job Experience</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                {{Job.experience}}
            </div>
        </mat-card-content>
        <mat-card-header>
            <mat-card-title>Job Salary</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                {{Job.salary}}
            </div>
        </mat-card-content>
        <mat-card-header>
            <mat-card-title>Vacant Position</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="Job.open; else notOpen">
                Yes
            </div>
            <ng-template #notOpen>
                  No
              </ng-template>
        </mat-card-content>
    </mat-card>
</div>

</main>
