<link rel="stylesheet"
          href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<main class="main">
    <div class="page-left">
        <div style="height:2rem">
            <h3 *ngIf="Company.verifiedAccount == false && comp">Your account has not been verified yet!</h3>
        </div>
        <div *ngIf="showPrevious">
            <button mat-stroked-button style="margin-left:10rem; margin-bottom:2rem;" (click)="goBack(id)">Back</button>
        </div>
        <div class="section" (click)="sectionOne()">
            <div class="row">
                <div class="column" style="flex-basis: 90%;">
                    <h1>About us</h1>
                    <h2>Company name and profile photo</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
          
              </div>
        </div>

        <div class="section" (click)="sectionTwo()">
            <div class="row">
                <div class="column" style="flex-basis: 90%;">
                    <h1>Account security</h1>
                    <h2>Email and password</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
              </div>
        </div>

        <div class="section" (click)="sectionThree()">
            <div class="row">
                <div class="column" style="flex-basis: 90%;">
                    <h1>Details</h1>
                    <h2>Description and address</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
              </div>
        </div>

        <div class="section" (click)="sectionFour()">
            <div class="row">
                <div class="column" style="flex-basis: 90%;">
                    <h1>Jobs</h1>
                    <h2>Manage posted jobs</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
              </div>
        </div>

        <div class="section" (click)="sectionFive()">
            <div class="row">
                <div class="column" style="flex-basis: 90%;">
                    <h1>Applications</h1>
                    <h2>Manage received applications</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
              </div>
        </div>

        <div class="section" (click)="sectionSix()">
            <div class="row">
                <div class="column" style="flex-basis: 90%;">
                    <h1>Interviews</h1>
                    <h2>Manage setup interviews</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
              </div>
        </div>
        <div class="section" (click)="sectionSeven()" *ngIf="admin">
            <div class="row">
                <div class="column" style="flex-basis: 90%;">
                    <h1>Access</h1>
                    <h2>Manage account validity</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
              </div>
        </div>

        <div class="section" (click)="removeCompany(id)">
            <button mat-button class="delete">Permanently delete account</button>
        </div>



    </div>
    <div class="page-right">
        <div class="edit">
            <div *ngIf="section == 1">
                <form fxLayout="column" class="form" [formGroup]="form" (ngSubmit)="save()">
                    <div class="column width50">
                        <mat-form-field>
                            <mat-label>Edit company name</mat-label>
                            <input matInput placeholder="Name" style="text-transform: capitalize;" formControlName="name">
                        </mat-form-field>

                        <div class="row" style="height: 30%; padding-bottom:2rem; margin-left:0px">
                            <div class="column" style="align-items:center">
                                <img src="{{form.controls['photo'].value}}" width="200" height="200" style="object-fit: cover;" />
                            </div>
                        </div>

                        <div class="row" style="margin-left:0px">
                                <i class="material-icons">add_a_photo</i>
                                <label class="custom-file-upload">
                                    <input type="file" accept=".jpg,.png,.jpeg,.gif" (change)="onPhotoChanged($event)"/>
                                    Change Profile Picture 
                                </label>
                        </div>
                    </div>
                    
                    <div style="height:3rem; padding-top:1rem;">
                        <p fxLayoutAlign="center center" style="color: red;" *ngIf="error" class="alert alert-danger">{{error}}</p>
                    </div>
                    
                    <div class="buttons center-of-screen width50">
                        <button mat-raised-button (click)="cancel()" class ="button center-of-screen">Cancel</button>
                        <button mat-raised-button type="submit" class ="submit center-of-screen">Update</button>
                    </div>
                  </form>
            </div>

            <div *ngIf="section == 2">
                <form fxLayout="column" class="form" [formGroup]="form" (ngSubmit)="save()">

                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="email" formControlName="email">
                    </mat-form-field>
                    <mat-form-field *ngIf="!admin">
                        <mat-label>Old Password</mat-label>
                        <input matInput type="password" placeholder="oldpassword" formControlName="oldpassword">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>New Password</mat-label>
                        <input matInput type="password" placeholder="newpassword" formControlName="newpassword">
                    </mat-form-field>
                    <mat-form-field *ngIf="!admin">
                        <mat-label>Repeat New Password</mat-label>
                        <input matInput type="password" placeholder="newpassword2" formControlName="newpassword2">
                    </mat-form-field>
        
                    <p fxLayoutAlign="center center" style="color: red;" *ngIf="error" class="alert alert-danger">{{error}}</p>
                    <div class="buttons center-of-screen">
                        <button mat-raised-button (click)="cancel()" class ="button center-of-screen">Cancel</button>
                        <button mat-raised-button type="submit" class ="submit center-of-screen">Update</button>
                    </div>
                  </form>
            </div>

            <div *ngIf="section == 3">
                <form fxLayout="column" class="form" [formGroup]="form" (ngSubmit)="save()">

                    <mat-form-field>
                        <mat-label>Description</mat-label>
                            <textarea matInput rows="10" id="description" style="text-transform: capitalize;" placeholder="Try to add all the essential details." formControlName="description">
                            </textarea>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Address</mat-label>
                        <input matInput placeholder="address" style="text-transform: capitalize;" formControlName="address">
                    </mat-form-field>
        
                    <p fxLayoutAlign="center center" style="color: red;" *ngIf="error" class="alert alert-danger">{{error}}</p>
                    <div class="buttons center-of-screen">
                        <button mat-raised-button (click)="cancel()" class ="button center-of-screen">Cancel</button>
                        <button mat-raised-button type="submit" class ="submit center-of-screen">Update</button>
                    </div>
                  </form>
            </div>

            <div *ngIf="section == 4">
                <div style="height:3rem;">
                    <div *ngIf="Company.verifiedAccount == true && !admin">
                        <a mat-button class="button1" (click)="create()">Post a new job</a>
                    </div>
                </div>
                <div *ngIf="!Company.jobs || !this.Company.jobs.length">
                    <h2 style="text-align:left;">No jobs to show yet.</h2>
                </div>
                <div *ngFor="let row of Company.jobs">
                    <div class="job" (click)="getJobDetails(row.id)">
                        <div class="row">
                            <div class="column" style="padding-top:0.5rem">
                                <div *ngIf="Company.photo != null">
                                    <img src="{{Company.photo}}" width="120" height="120" style="object-fit: cover;" />
                                </div>
                                <div *ngIf="Company.photo == null">
                                    <img src="../../../assets/images/companyProfilePhoto.png" width="120" height="120" style="object-fit: cover;" />
                                </div>
                            </div>
                            <div class="column"style="flex-basis: 70%; margin-botttom:15px">
                                <div class="title2">
                                  <a>{{row.jobTitle}}</a>
                                </div>
                                <a><i class="fa fa-clock-o" style="min-width:30px"></i>{{row.jobType}}</a>
                                <a><i class="fa fa-map-marker" style="min-width:30px"></i>{{row.address}}</a>
                                <a *ngIf="row.open == true"><i class="fa fa-bullhorn" style="min-width:30px"></i>Recruiting</a>
                                <a *ngIf="row.open == false"><i class="fa fa-check-square-o" style="min-width:30px"></i>Position filled</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="section == 5">
                <h2>Filter by jobs</h2>
                <select id="filterByJobId" [(ngModel)]="filterByJobId" class="select-picker width50" (change) = "getApplicationsForJob()">
                    <option>All</option>
                    <option *ngFor = "let item of Company.jobs" [value]="item.id">
                        {{item.jobTitle}}
                    </option>
                <i class='fa fa-angle-down'></i>
                </select>
                <div class="row">
                    <h2 style="width:17rem">Show rejected applications</h2>
                    <label (click)="toggleSeeRejected($event)" class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div style="height:3rem;">
                </div>
                <div *ngIf="applications.length == 0">
                    <h2 style="text-align:left;">No applications to show yet.</h2>
                </div>
                <div *ngFor="let row of applications">
                    <div class="job">
                        <div class="row">
                            <div class="column" style="padding-top:0.5rem">
                                
                            </div>
                            <div class="column"style="flex-basis: 70%; margin-botttom:15px">
                                <div class="title2" (click)="getJobDetails(row.jobId)">
                                  <a>{{row.job!.jobTitle}}</a>
                                </div>
                                <div class="title2" (click)="getUserDetails(row.userId)">
                                    <a>{{row.user!.firstName}} {{row.user!.lastName}}</a>
                                  </div>
                                <a *ngIf="seeApplication.id != row.id"><i class="fa fa-clock-o" style="min-width:30px"></i>Status: {{row.status}}</a>
                                <div class="row" st *ngIf="seeApplication.id == row.id">
                                    <div class="column height40"  style="width:50%">
                                        <a ><i class="fa fa-clock-o" style="min-width:35%"></i>Status:</a>
                                    </div>
                                    <div class="column height40"  style="width:50%">
                                        <select [(ngModel)]="seeApplication.status" class="interview-edit" style="height:40px;">
                                        <option>Interview stage</option><option>Rejected</option><option>Hired</option>
                                    <i class='fa fa-angle-down'></i></select>
                                    </div>
                                </div>
                                <a *ngIf="row.interviews!.length == 0"><i class="fa fa-bullhorn" style="min-width:30px"></i>No interview scheduled yet.</a>
                                <a *ngIf="row.interviews!.length > 0"><i class="fa fa-check-square-o" style="min-width:30px"></i> Interviews scheduled.</a>
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <button mat-stroked-button style="margin-right:10px" *ngIf="seeApplication.id != row.id" (click)="seeApplicationTrue(row)">Change application status</button>
                        <button mat-stroked-button style="margin-right:10px" *ngIf="seeApplication.id == row.id" (click)="saveApplication(row)">Done</button>
                        <button mat-stroked-button style="margin-right:10px" *ngIf="seeApplication.id == row.id" (click)="seeApplicationFalse()">Cancel</button>
                        <button mat-stroked-button style="margin-right:10px" *ngIf="row.status != 'Rejected' && seeApplication.id != row.id"(click)="scheduleTrue(row)">Schedule interview</button>
                        <button mat-stroked-button *ngIf="row.interviews!.length > 0 && seeInterview.applicationId != row.id && seeApplication.id != row.id" (click)="seeInterviewTrue(row)">See interviews</button>
                        <button mat-stroked-button *ngIf="row.interviews!.length > 0 && seeInterview.applicationId == row.id && seeApplication.id != row.id" (click)="seeInterviewFalse()">Hide interviews</button>
                    </div>
                    <div *ngIf="schedule.id == row.id" class="new-interview">
                        <div class="row padding10">
                            <div class="column">
                                <a style="padding-right:10px">Date*</a>
                            </div>
                            <div class="column" style="flex-basis: 40%;">
                                <input class="date" [(ngModel)]="newInterview.date" type="datetime-local">
                            </div>
                        </div>
                        <div class="row padding10">
                            <div class="column">
                                <a style="padding-right:10px">Form of interview*</a>
                            </div>
                            <div class="column" style="flex-basis: 40%;">
                                <select id="newInterview.isOnline" [(ngModel)]="isOnline" class="select-picker" style="height:40px"(change) = "convertIsOnline()">
                                    <option>Online</option><option>In person</option>
                                <i class='fa fa-angle-down'></i></select>
                            </div>
                        </div>
                        <div class="row padding10">
                            <div class="column">
                                <a *ngIf="isOnline == 'Online'">Meeting Link*</a>
                                <a *ngIf="isOnline == 'In person' || isOnline == ''">Address*</a>
                            </div>
                            <div class="column" style="flex-basis: 40%;">
                                <input style="text-transform: capitalize;" [(ngModel)]="newInterview.location">
                            </div>
                        </div>
                        <div class="buttons center-of-screen">
                            <button mat-raised-button class ="submit center-of-screen"(click) ="createInterview(row)">Done</button>
                            <button mat-button class ="button center-of-screen" (click) ="scheduleFalse()">Cancel</button>
                        </div>
                        
                    </div>
                    <div *ngIf="seeInterview.applicationId == row.id">
                        <div *ngFor="let intv of interviews">
                            <div class="interview">
                                <div class="row">
                                    <div class="column" style="border-right: 1px solid grey">
                                        <div *ngIf="editInterview == true && newInterview.id == intv.id">
                                            <div class="row height50">
                                                <div class="column" style="width:50%">
                                                    <a style="padding-right:10px">Date</a>
                                                </div>
                                                <div class="column height40" style="width: 50%">
                                                    <input class="interview-edit" [(ngModel)]="newInterview.date" type="datetime-local">
                                                </div>
                                            </div>
                                            <div class="row height50">
                                                <div class="column" style="width:50%">
                                                    <a style="padding-right:10px">Form of interview</a>
                                                </div>
                                                <div class="column height40"  style="width:50%">
                                                    <select id="newInterview.isOnline" [(ngModel)]="isOnline" class="interview-edit" placeholder="isOnline" style="height:40px"(change) = "convertIsOnline()">
                                                        <option>Online</option><option>In person</option>
                                                    <i class='fa fa-angle-down'></i></select>
                                                </div>
                                            </div>
                                            <div class="row height50">
                                                <div class="column" style="width:50%">
                                                    <a *ngIf="isOnline == 'Online'">Meeting Link</a>
                                                    <a *ngIf="isOnline == 'In person' || isOnline == ''">Address</a>
                                                </div>
                                                <div class="column height40"  style="width:50%">
                                                    <input style="text-transform: capitalize;" class="interview-edit" [(ngModel)]="newInterview.location">
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div *ngIf="editInterview == false || (editInterview == true && newInterview.id != intv.id)" class="column">
                                            <a class="height50"> Date: {{intv.date | date: 'dd/MM/yyyy hh:mm a'}}</a>
                                            <a class="height50" *ngIf="intv.isOnline == true"> Form of interview: Online </a>
                                            <a class="height50" *ngIf="intv.isOnline == false"> Form of interview: In person </a>
                                            <a class="height50" *ngIf="intv.isOnline == true">Meeting link: {{intv.location}}</a>
                                            <a class="height50" *ngIf="intv.isOnline == false">Location: {{intv.location}}</a>
                                        </div>
                                        
                                    </div>
                                    <div class="column">
                                        <a *ngIf="intv.responseUser == false"><i class="fa fa-close" style="color:red"></i>Candidate has not accepted the interview details yet.</a>
                                        <a *ngIf="intv.responseUser == true"><i class="fa fa-check-square-o" style="color:green"></i>Candidate has accepted the interview details.</a>
                                        <a *ngIf="intv.responseCompany == false"><i class="fa fa-close" style="color:red"></i>You have not accepted the interview date yet.</a>
                                        <a *ngIf="intv.responseCompany == true"><i class="fa fa-check-square-o" style="color:green"></i>You have approved the interview details.</a>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons">
                                <button mat-button *ngIf="editInterview == false || (editInterview == true && newInterview.id != intv.id)" (click)="editInterviewTrue(intv)"><i class="fa fa-edit" style="padding-right:10px"></i>Edit</button>
                                <button mat-button *ngIf="editInterview == true && newInterview.id == intv.id" (click)="saveInterview()"><i class="fa fa-check-square-o" style="color:green;padding-right:10px"></i>Done</button>
                                <button mat-button *ngIf="editInterview == true && newInterview.id == intv.id" (click)="editInterviewFalse()"><i class="fa fa-close" style="color:red;padding-right:10px"></i>Cancel</button>
                                <button mat-button (click)="deleteInterview(intv)"><i class="fa fa-trash" style="padding-right:10px"></i>Delete</button>
                                <button mat-button *ngIf="intv.responseCompany == false" style="color:green;padding-right:10px" (click)="confirm(intv)">Accept interview date change</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="section == 6">
                <select [(ngModel)]="filterByJobId" class="select-picker width50" (change) = "getInterviewsForJob()">
                    <option>All</option>
                    <option *ngFor = "let item of Company.jobs" [value]="item.id">
                        {{item.jobTitle}}
                    </option>
                <i class='fa fa-angle-down'></i>
                </select>
                <div style="height:3rem;">
                    <div *ngIf="interviews.length == 0">
                        <h2 style="text-align:left;">No interviews to show yet.</h2>
                    </div>
                </div>
                <div *ngFor="let intv of interviews">
                    <div class="job">
                        <div class="row">
                            <div class="column" style="border-right: 1px solid grey">
                                <div *ngIf="editInterview == true && newInterview.id == intv.id">
                                    <div class="row height50">
                                        <div class="column" style="width:50%">
                                            <a style="padding-right:10px">Date</a>
                                        </div>
                                        <div class="column height40" style="width: 50%">
                                            <input class="interview-edit" [(ngModel)]="newInterview.date" type="datetime-local">
                                        </div>
                                    </div>
                                    <div class="row height50">
                                        <div class="column" style="width:50%">
                                            <a style="padding-right:10px">Form of interview</a>
                                        </div>
                                        <div class="column height40"  style="width:50%">
                                            <select id="newInterview.isOnline" [(ngModel)]="isOnline" class="interview-edit" placeholder="isOnline" style="height:40px"(change) = "convertIsOnline()">
                                                <option>Online</option><option>In person</option>
                                            <i class='fa fa-angle-down'></i></select>
                                        </div>
                                    </div>
                                    <div class="row height50">
                                        <div class="column" style="width:50%">
                                            <a *ngIf="isOnline == 'Online'">Meeting Link</a>
                                            <a *ngIf="isOnline == 'In person' || isOnline == ''">Address</a>
                                        </div>
                                        <div class="column height40"  style="width:50%">
                                            <input style="text-transform: capitalize;" class="interview-edit" [(ngModel)]="newInterview.location">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div *ngIf="editInterview == false || (editInterview == true && newInterview.id != intv.id)" class="column">
                                    <a class="height50"> Date: {{intv.date | date: 'dd/MM/yyyy hh:mm a'}}</a>
                                    <a class="height50" *ngIf="intv.isOnline == true"> Form of interview: Online </a>
                                    <a class="height50" *ngIf="intv.isOnline == false"> Form of interview: In person </a>
                                    <a class="height50" *ngIf="intv.isOnline == true">Meeting link: {{intv.location}}</a>
                                    <a class="height50" *ngIf="intv.isOnline == false">Location: {{intv.location}}</a>
                                </div>
                                
                            </div>
                            <div class="column">
                                <a *ngIf="intv.responseUser == false"><i class="fa fa-close" style="color:red"></i>Candidate has not accepted the interview details yet.</a>
                                <a *ngIf="intv.responseUser == true"><i class="fa fa-check-square-o" style="color:green"></i>Candidate has accepted the interview details.</a>
                                <a *ngIf="intv.responseCompany == false"><i class="fa fa-close" style="color:red"></i>You have not accepted the interview date yet.</a>
                                <a *ngIf="intv.responseCompany == true"><i class="fa fa-check-square-o" style="color:green"></i>You have approved the interview details.</a>
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <button mat-button *ngIf="editInterview == false || (editInterview == true && newInterview.id != intv.id)" (click)="editInterviewTrue(intv)"><i class="fa fa-edit" style="padding-right:10px"></i>Edit</button>
                        <button mat-button *ngIf="editInterview == true && newInterview.id == intv.id" (click)="saveInterview()"><i class="fa fa-check-square-o" style="color:green;padding-right:10px"></i>Done</button>
                        <button mat-button *ngIf="editInterview == true && newInterview.id == intv.id" (click)="editInterviewFalse()"><i class="fa fa-close" style="color:red;padding-right:10px"></i>Cancel</button>
                        <button mat-button (click)="deleteInterview(intv)"><i class="fa fa-trash" style="padding-right:10px"></i>Delete</button>
                        <button mat-button *ngIf="intv.responseCompany == false" style="color:green;padding-right:10px" (click)="confirm(intv)">Accept interview date change</button>
                        <button mat-stroked-button *ngIf="seeApplication.id != intv.id" (click)="seeApplicationTrue(intv)">See application</button>
                        <button mat-stroked-button *ngIf="seeApplication.id == intv.id" (click)="seeApplicationFalse()">Hide application</button>
                    </div>
                    <div *ngIf="seeApplication.id == intv.id" style="width:70%;">
                        <div class="job">
                            <div class="row">
                                <div class="column width50" style="padding-top:0.5rem">
                                    <iframe [src]="getSafeUrl(intv.application!.cv)" width="200px" height="130px"></iframe>
                                </div>
                                <div class="column width50"style="margin-botttom:15px">
                                    <div class="title2" (click)="getJobDetails(intv.application?.jobId)">
                                      <a>{{intv.application?.job?.jobTitle}}</a>
                                    </div>
                                    <div class="title2" (click)="getUserDetails(intv.application?.userId)">
                                        <a>{{intv.application?.user?.firstName}} {{intv.application?.user?.lastName}}</a>
                                      </div>
                                    <a style="text-align: center"><i class="fa fa-clock-o" style="min-width:30px"></i>Status: {{intv.application?.status}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div *ngIf="section == 7">
                <form fxLayout="column" class="form" [formGroup]="form" (ngSubmit)="save()">
                    <mat-label>Is this account a valid company account?</mat-label>
                    <div class="input" matInput>
                        <select id="verifiedAccount" name="verifiedAccount" formControlName= "verifiedAccount" class="select-picker">
                            <option *ngFor = "let item of Verified" [value]="item">
                                {{item}}
                            </option>
                        <i class='fa fa-angle-down'></i>
                        </select>
                    </div>

                    
                    <p fxLayoutAlign="center center" style="color: red;" *ngIf="error" class="alert alert-danger">{{error}}</p>
                    <div class="buttons center-of-screen">
                        <button mat-raised-button (click)="cancel()" class ="button center-of-screen">Cancel</button>
                        <button mat-raised-button type="submit" class ="submit center-of-screen">Update</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</main>
