<link rel="stylesheet"
          href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<main class="main">
    <div class="page-left">
        <div style="height:2rem">
            <h3 *ngIf="Company.verifiedAccount == false && comp">Your account has not been verified yet!</h3>
        </div>
        <div *ngIf="showPrevious">
            <button mat-stroked-button style="margin-left:10rem; margin-bottom:2rem;" (click)="goBack(id)">Back</button>
        </div>
        <div *ngIf="!showPrevious">
            <button mat-raised-button style="margin-left:10rem; margin-bottom:2rem;" routerLink="/companies/{{Company.id}}">View profile</button>
        </div>
        <div class="section" (click)="sectionOne()">
            <div class="row">
                <div class="column" style="flex-basis: 90%;">
                    <h1>About us</h1>
                    <h2>Company name and profile photo</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
          
              </div>
        </div>

        <div class="section" (click)="sectionTwo()">
            <div class="row">
                <div class="column" style="flex-basis: 90%;">
                    <h1>Account security</h1>
                    <h2>Email and password</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
              </div>
        </div>

        <div class="section" (click)="sectionThree()">
            <div class="row">
                <div class="column" style="flex-basis: 90%;">
                    <h1>Details</h1>
                    <h2>Description and address</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
              </div>
        </div>

        <div class="section" (click)="sectionFour()">
            <div class="row">
                <div class="column" style="flex-basis: 90%;">
                    <h1>Posts</h1>
                    <h2>Manage posted jobs and work ads</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
              </div>
        </div>

        <div class="section" (click)="sectionFive()">
            <div class="row">
                <div class="column" style="flex-basis: 90%;">
                    <h1>Applications</h1>
                    <h2>Manage received applications</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
              </div>
        </div>

        <div class="section" (click)="sectionSix()">
            <div class="row">
                <div class="column" style="flex-basis: 90%;">
                    <h1>Interviews</h1>
                    <h2>Manage setup interviews</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
              </div>
        </div>

        <div class="section" (click)="sectionSeven()">
            <div class="row">
                <div class="column" style="flex-basis: 90%;">
                    <h1>Recruitment invitations</h1>
                    <h2>Manage invitations sent</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
              </div>
        </div>
        <div class="section" (click)="sectionEight()" *ngIf="admin">
            <div class="row">
                <div class="column" style="flex-basis: 90%;">
                    <h1>Access</h1>
                    <h2>Manage account validity</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
              </div>
        </div>

        <div class="section" (click)="removeCompany(id)">
            <button mat-button class="delete">Permanently delete account</button>
        </div>



    </div>
    <div class="page-right">
        <div class="edit">
            <div *ngIf="section == 1">
                <form fxLayout="column" class="form" [formGroup]="form" (ngSubmit)="save()">
                    <div class="column width50">
                        <mat-form-field>
                            <mat-label>Edit company name</mat-label>
                            <input matInput placeholder="Name" style="text-transform: capitalize;" formControlName="name" (keyup.enter)="save2($event)">
                        </mat-form-field>

                        <div class="row" style="height: 30%; padding-bottom:2rem; margin-left:0px">
                            <div class="column" style="align-items:center">
                                <img src="{{form.controls['photo'].value}}" width="200" height="200" style="object-fit: cover;" />
                            </div>
                        </div>

                        <div class="row" style="margin-left:0px">
                            <div style="width:10%;">
                                <i class="fa fa-trash" (click)="deletePhoto()"*ngIf="form.controls['photo'].value != '../../../assets/images/companyProfilePhoto.png'" (click)="deletePhoto()"  style="font-size:24px; padding:0px;cursor:pointer"></i>
                            </div>
                            <label class="custom-file-upload">
                                <input type="file" accept=".jpg,.png,.jpeg,.gif" (change)="onPhotoChanged($event)"/>
                                <i class="material-icons" style="font-size:24px; padding-top:3px;">add_a_photo</i>Change Profile Picture 
                            </label>
                        </div>
                    </div>
                    
                    <div style="height:3rem; padding-top:1rem;">
                        <p fxLayoutAlign="center center" style="color: red;" *ngIf="error" class="alert alert-danger">{{error}}</p>
                    </div>
                    
                    <div class="buttons center-of-screen width50">
                        <button mat-raised-button (click)="cancel()" class ="button center-of-screen">Cancel</button>
                        <button mat-raised-button type="submit" class ="submit center-of-screen">Update</button>
                    </div>
                  </form>
            </div>

            <div *ngIf="section == 2">
                <form fxLayout="column" class="form" [formGroup]="form" (ngSubmit)="save()">

                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="email" formControlName="email">
                    </mat-form-field>
                    <mat-form-field *ngIf="!admin">
                        <mat-label>Old Password</mat-label>
                        <input matInput type="password" autocomplete="new-password" placeholder="oldpassword" formControlName="oldpassword">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>New Password</mat-label>
                        <input matInput type="password" placeholder="newpassword" formControlName="newpassword">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Repeat New Password</mat-label>
                        <input matInput type="password" placeholder="newpassword2" formControlName="newpassword2">
                    </mat-form-field>
        
                    <p fxLayoutAlign="center center" style="color: red;" *ngIf="error" class="alert alert-danger">{{error}}</p>
                    <div class="buttons center-of-screen">
                        <button mat-raised-button (click)="cancel()" class ="button center-of-screen">Cancel</button>
                        <button mat-raised-button type="submit" class ="submit center-of-screen">Update</button>
                    </div>
                  </form>
            </div>

            <div *ngIf="section == 3">
                <form fxLayout="column" class="form" [formGroup]="form" (ngSubmit)="save()">

                    <mat-form-field>
                        <mat-label>Description</mat-label>
                            <textarea matInput rows="10" id="description" style="text-transform: capitalize;" placeholder="Try to add all the essential details." formControlName="description">
                            </textarea>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Address</mat-label>
                        <input matInput placeholder="address" style="text-transform: capitalize;" formControlName="address">
                    </mat-form-field>
        
                    <p fxLayoutAlign="center center" style="color: red;" *ngIf="error" class="alert alert-danger">{{error}}</p>
                    <div class="buttons center-of-screen">
                        <button mat-raised-button (click)="cancel()" class ="button center-of-screen">Cancel</button>
                        <button mat-raised-button type="submit" class ="submit center-of-screen">Update</button>
                    </div>
                  </form>
            </div>

            <div *ngIf="section == 4">
                <div style="padding-bottom:2rem">
                    <button *ngIf="jobSection == 1" (click)="jobSectionOne()" mat-raised-button>Jobs</button>
                    <button *ngIf="jobSection != 1" (click)="jobSectionOne()" mat-button>Jobs</button>
                    <button *ngIf="jobSection == 2" (click)="jobSectionTwo()" mat-raised-button>Work Ads</button>
                    <button *ngIf="jobSection != 2" (click)="jobSectionTwo()" mat-button>Work Ads</button>
                </div>
                <div *ngIf=" jobSection == 1 && (!jobs || !jobs.length)">
                    <h2 style="text-align:left;">No jobs to show yet.</h2>
                </div>
                <div *ngIf=" jobSection == 2 && (!work || !work.length)">
                    <h2 style="text-align:left;">No work ads to show yet.</h2>
                </div>

                <div *ngFor="let row of Company.jobs">
                    <div *ngIf="(row.workType == false && jobSection == 1) || (row.workType == true && jobSection == 2)" class="job" style="height:10rem"(click)="getJobDetails(row.id)">
                        <div class="row">
                            <div class="column" style="padding-top:0.5rem">
                                <div *ngIf="Company.photo != null">
                                    <img src="{{Company.photo}}" width="120" height="120" style="object-fit: cover;" />
                                </div>
                                <div *ngIf="Company.photo == null">
                                    <img src="../../../assets/images/companyProfilePhoto.png" width="120" height="120" style="object-fit: cover;" />
                                </div>
                            </div>
                            <div class="column"style="flex-basis: 70%; margin-botttom:15px">
                                <div class="title2">
                                  <a>{{row.jobTitle}}</a>
                                </div>
                                <a><i class="fa fa-clock-o" style="min-width:30px"></i>{{row.jobType}}</a>
                                <a><i class="fa fa-map-marker" style="min-width:30px"></i>{{row.address}}</a>
                                <a *ngIf="row.open == true && row.workType == false"><i class="fa fa-bullhorn" style="min-width:30px"></i>Recruiting</a>
                                <a *ngIf="row.open == false"><i class="fa fa-check-square-o" style="min-width:30px"></i>Position filled</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="section == 5" style="padding-bottom:4rem">
                <app-application [id]="id" [Company]="Company"></app-application>
            </div>

            <div *ngIf="section == 6" style="padding-bottom:4rem">
                <app-interview [id]="id" [Company]="Company"></app-interview>
            </div>

            <div *ngIf="section == 7" style="padding-bottom:4rem">
                <app-invite-details [id]="id"></app-invite-details>
            </div>

            <div *ngIf="section == 8">
                <form fxLayout="column" class="form" [formGroup]="form" (ngSubmit)="save()">
                    <mat-label>Is this account a valid company account?</mat-label>
                    <div class="input" matInput>
                        <select id="verifiedAccount" name="verifiedAccount" formControlName= "verifiedAccount" class="select-picker">
                            <option *ngFor = "let item of Verified" [value]="item">
                                {{item}}
                            </option>
                        <i class='fa fa-angle-down'></i>
                        </select>
                    </div>

                    
                    <p fxLayoutAlign="center center" style="color: red;" *ngIf="error" class="alert alert-danger">{{error}}</p>
                    <div class="buttons center-of-screen">
                        <button mat-raised-button (click)="cancel()" class ="button center-of-screen">Cancel</button>
                        <button mat-raised-button type="submit" class ="submit center-of-screen">Update</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</main>
