.button1{
  font-size: x-large;
  background-color: rgb(33, 101, 227);
  color:white;
  font-family: "Times New Roman", Times, serif;
  margin-left:20%;
  margin-top:4rem;
  margin-bottom: 2rem;
}
.job{
  width:60%;
  height:10rem;
  margin-left:20%;
  cursor: pointer;
  margin-bottom:2rem;
  box-shadow: -0.2em 0 .4em grey;
}
.title{
  width:100%;
  border-bottom: 1px solid gray;
  padding: 15px 45px 15px 30px;
  font-size: large;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  width:50%;
  height: 3rem;

}
.column a{
  padding-left:30px;
  padding-top:15px;
  font-size: medium;
}