.main{
  height: 100%;
  background: rgb(242, 244, 245);
  padding-bottom: 4rem;
}
.pageTitle{
  text-align:center; 
  font-family: "Times New Roman", Times, serif;
  padding-top: 3%;
  margin-bottom: 3%;
  font-size: 28px;
}
.space{
  height:3rem;
  width:50%;
  margin-left:25%;
}
.button1{
  font-size: 20px;
  background-color: rgb(33, 101, 227);
  color:white;
  font-family: "Times New Roman", Times, serif;
}
.job{
  width:50%;
  height:12rem;
  margin-left:25%;
  padding: 16px;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  margin-bottom:2rem;
  box-shadow: -0.2em 0 .4em grey;
}
.title{
  width:100%;
  border-bottom: 1px solid gray;
  padding: 15px 45px 15px 30px;
  font-size: x-large;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  width:50%;
  height: 3rem;

}
.column a{
  padding-left:30px;
  padding-top:15px;
  font-size: 18px;
}
.pad{
  height: 5rem;
  background: rgb(242, 244, 245);
}