<body class="main">
<h1 class="pageTitle">Find your next job!</h1>

<div class="space">
  <span *ngIf="createRights"> 
      <a mat-button class="button1" (click)="create()">Post a new job</a>
  </span>
</div>
<div *ngFor="let row of JobList">
  
  <div class="job" (click)="getJobDetails(row.id)">
    <div class="title">
      <a>{{row.jobTitle}}</a>
    </div>
    <div class="row">
      <div class="column">
        <a>{{row.company.name}}</a>
        <a>{{row.jobType}}</a>
      </div>

      <div class="column" style="color:rgb(110, 110, 110);">
        <a>Location:  {{row.address}}</a>
        <a>Salary:    {{row.salary | currency: 'EUR':true:'1.0-0'}} </a>
      </div>
    </div>
    

    
  </div>
</div>
</body>