<link rel="stylesheet"
          href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<body class="main">
<h1 class="pageTitle">Find your next job!</h1>

<div class="space">
  <span *ngIf="createRights"> 
      <a mat-button class="button1" (click)="create()">Post a new job</a>
  </span>
</div>
<div *ngFor="let row of JobList">
  
  <div class="job" *ngIf="(row.company.verifiedAccount == true && row.open == true && !admin) || admin" (click)="getJobDetails(row.id)">
    <div class="row">
      <div class="column" style="flex-basis: 20%;">
        <div *ngIf="row.company.photo != null">
          <img src="{{row.photo}}" width="150" height="150" style="object-fit: cover;" />
        </div>
        <div *ngIf="row.company.photo == null">
            <img src="../../../assets/images/companyProfilePhoto.png" width="150" height="150" style="object-fit: cover;" />
        </div>
      </div>

      <div class="column" style="flex-basis: 70%;">
        <div class="title">
          <a>{{row.jobTitle}}</a>
        </div>
        <div class="row">
          <div class="column">
            <a><i class="fa fa-institution" style="min-width:50px;"></i>{{row.company.name}}</a>
            <a><i class='fa fa-clock-o' style="min-width:50px;"></i>{{row.jobType}}</a>
          </div>
    
          <div class="column" style="color:rgb(110, 110, 110);">
            <a><i class="fa fa-map-marker" style="min-width:30px"></i>{{row.address}}</a>
            <a><i class="fa fa-graduation-cap" style="min-width:30px"></i>{{row.experience}} </a>
          </div>
        </div>
      </div>
    </div>

    

    

    
  </div>
</div>
</body>