.main{
    height:100%;
    min-height: 100vh;
    width: 100%;
    background: rgb(242, 244, 245);
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    }
    .page-left{
    width: 50%;
    height:100%;
    margin-top:10rem;
    }
    .section{
    padding-left: 10rem;
    width: 70%;
    margin-bottom: 4rem;
    cursor:pointer;
    height: 6rem;
    }
    .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    //justify-content: end;
    }
    .row2{    
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }
    .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width:50%;
    height: 2rem;
    }
    .column2{
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      justify-content: flex-end;
      align-items:center;
      flex: 1;
      width:50%;
      height: 100%;
    }
    .custom-file-upload {
      border: 1px solid rgb(99, 99, 99);
      background-color: rgb(241, 241, 241);
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
      border-radius: 3px;
      font-size: 18px;
      width:70%;
      height: 2rem;
      
  }
  input[type="file"] {
    display: none;
}
.column2 i{
  width:10%;
  margin-right: 5px;
}
    .page-left h1{
      font-size: 24px;
    }
    .page-left h2{
      font-size: 18px;
      font-weight: 100;
      color:rgb(78, 78, 78);
    }
    .page-left i{
      align-items: right;
    }
    .page-right{
    width:50%;
    height:100%;
    flex-direction: column;
    margin-top:11rem;
    }
    .form{
      width: 70%;
    }
    .edit mat-form-field{
      width: 100%;
      height:100%;
      //padding-right: 30%;
    }
    .edit mat-label{
      font-size: large;
      width: 100%;
      padding-bottom: 2rem;
      padding-right: 30%;
    }
    .edit input{
      font-size: large;
      padding-top: 1rem;
      padding-right: 30%;
    }
    textarea{
      font-size: medium;
      width: 100%;
      max-width: 100%;
      border-color: black;
      padding: 15px 45px 15px 15px;
      border-width: 1px;
      margin-bottom: 15px;
      border-radius: 5px;
    }
    .select-picker{
      width: 100%;
      border-color: black;
      padding: 15px 45px 15px 15px;
      border-width: 1px;
      margin-bottom: 15px;
      border-radius: 5px;
      font-size: 15px;
      background: rgb(242, 244, 245);
    }
    .center-of-screen{
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    .buttons{
      margin-top: 2rem;
      font-family: "Times New Roman", Times, serif;
      font-size: large;
    }
    .button{
      margin-right: 2rem;
    }
    .submit{
      background-color: rgb(14, 83, 212);
      color: rgb(255, 255, 255);
    }
    .delete{
      background-color:red; 
      color:white;
      font-family: "Times New Roman", Times, serif;
      font-size: 20px;
    }