<link rel="stylesheet"
          href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
<main class="main">
    <div class="page-left">
        <div class="section" (click)="sectionOne()">
            <div class="row">
                <div class="column">
                    <h1>About Me</h1>
                    <h2>Personal details</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
              </div>
        </div>

        <div class="section" (click)="sectionTwo()" *ngIf="!admin || admin.id != User.id">
            <div class="row">
                <div class="column" style="flex-basis:50%">
                    <h1>Documents</h1>
                    <h2>Profile Photo and CV</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
              </div>
        </div>

        <div class="section" (click)="sectionThree()">
            <div class="row">
                <div class="column">
                    <h1>Account security</h1>
                    <h2>Email and password</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
              </div>
        </div>

        <div class="section" (click)="sectionSeven()" *ngIf="!admin || admin.id != id">
            <div class="row">
                <div class="column" style="flex-basis:50%">
                    <h1>Posts</h1>
                    <h2>Manage posted work ads</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
              </div>
        </div>

        <div class="section" (click)="sectionFour()">
            <div class="row">
                <div class="column" style="flex-basis: 90%;">
                    <h1>Applications</h1>
                    <h2 *ngIf="admin">Manage all the applications</h2>
                    <h2 *ngIf="!admin">Manage your applications</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
          
              </div>
        </div>

        <div class="section" (click)="sectionFive()">
            <div class="row">
                <div class="column" style="flex-basis: 90%;">
                    <h1>Interviews</h1>
                    <h2 *ngIf="admin">Manage all the interviews</h2>
                    <h2 *ngIf="!admin">Manage interview offers</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
          
              </div>
        </div>

        <div class="section" (click)="sectionSix()">
            <div class="row">
                <div class="column" style="flex-basis: 90%;">
                    <h1>Recruitment invitations</h1>
                    <h2 *ngIf="admin">Manage all the invitations</h2>
                    <h2 *ngIf="!admin">Manage invitations received</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
          
              </div>
        </div>

        <div class="section" (click)="sectionEight()" *ngIf="admin">
            <div class="row">
                <div class="column" style="flex-basis: 90%;">
                    <h1>Requests</h1>
                    <h2>Manage and resolve the requests</h2>
                </div>
                <div class="column" style="text-align: right;">
                    <i class='fa fa-angle-right' style='font-size:20px'></i>
                </div>
          
              </div>
        </div>

        <div class="section" (click)="removeUser(id)">
            <button mat-button class="delete">Permanently delete account</button>
        </div>



    </div>
    <div class="page-right">
        <div class="edit">
            <div *ngIf="section == 1">
                <form fxLayout="column" class="form" [formGroup]="form" (ngSubmit)="save()">

                    <mat-form-field>
                        <mat-label>First name</mat-label>
                        <input matInput placeholder="First Name" style="text-transform: capitalize;" formControlName="firstName">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Last name</mat-label>
                        <input matInput placeholder="Last Name" style="text-transform: capitalize;" formControlName="lastName">
                    </mat-form-field>

                    <mat-form-field *ngIf="!admin || admin.id != User.id">
                        <mat-label>Occupation</mat-label>
                        <input matInput placeholder="Occupation" style="text-transform: capitalize;" formControlName="occupation">
                    </mat-form-field>

                    <mat-form-field *ngIf="!admin || admin.id != User.id">
                        <mat-label>Residence</mat-label>
                        <input matInput placeholder="Place of residence" style="text-transform: capitalize;" formControlName="residence">
                    </mat-form-field>

                    <mat-form-field *ngIf="!admin || admin.id != User.id">
                        <mat-label>Education</mat-label>
                        <input matInput placeholder="Education" style="text-transform: capitalize;" formControlName="studies">
                    </mat-form-field>
                    
                    <p fxLayoutAlign="center center" style="color: red;" *ngIf="error" class="alert alert-danger">{{error}}</p>
                    <div class="buttons center-of-screen width50">
                        <button mat-raised-button (click)="cancel()" class ="button center-of-screen">Cancel</button>
                        <button mat-raised-button type="submit" class ="submit center-of-screen">Update</button>
                    </div>
                  </form>
            </div>

            <div *ngIf="section == 2 && (!admin || admin.id != User.id)">
                <form fxLayout="column" class="form" [formGroup]="form" (ngSubmit)="save()">
                    <div class="row" style="height: 30%; padding-bottom:2rem">
                        <div class="column2">
                                <img src="{{form.controls['photo'].value}}" width="200" height="200" style="object-fit: cover;" />
                        </div>
                        <div class="column2">
                            <object *ngIf="CVpreview != '' && CVpreview != null" type="application/pdf" width="200px" height="200px" style="cursor:pointer"[data]="getSafeUrl(CVpreview)" id="pdf_content"></object>
                        </div>
                    </div>

                    <div class="row" style="height: 30%">
                        <div class="column2">
                            <div class="row">
                                <div style="width:15px; margin-right:10px;">
                                    <i class="fa fa-trash"*ngIf="form.controls['photo'].value != '../../../assets/images/profilePhoto.png'" (click)="deletePhoto()" style="font-size:24px;width:10%; padding:0px;cursor:pointer"></i>
                                </div>
                                <label class="custom-file-upload">
                                    <input type="file" accept=".jpg,.png,.jpeg,.gif" (change)="onPhotoChanged($event)"/>
                                    <i class="material-icons" style="font-size:24px; padding-top:3px; margin-right:10px;">add_a_photo</i>Change Picture 
                                </label>
                            </div>
                            
                        </div>
                        <div class="column2">
                            <div class="row">
                                <div style="width:15px; margin-right:10px;">
                                    <i class="fa fa-trash" *ngIf="CVpreview != '' && CVpreview != null" (click)="deleteCV()" style="font-size:24px;width:10%; padding:0px;cursor:pointer"></i>
                                </div>
                                <label class="custom-file-upload">
                                    <input type="file" accept=".pdf" (change)="onCvChanged($event)"/>
                                    <i class="fa fa-upload" style="font-size:24px; margin-right:10px;"></i>Upload new CV
                                </label>
                            </div>
                            
                        </div>
                    </div>
                    <div style="height:2rem; padding-top:1rem;">
                        <p fxLayoutAlign="center center" style="color: red;" *ngIf="error" class="alert alert-danger">{{error}}</p>
                    </div>
                    
                    <div class="row" style="margin-top:10%;  justify-content:center;">
                        <div class="buttons center-of-screen width50">
                            <button mat-raised-button (click)="cancel()" class ="button center-of-screen">Cancel</button>
                            <button mat-raised-button type="submit" class ="submit center-of-screen">Update</button>
                        </div>
                    </div>
                    
                </form>
                
            </div>

            <div *ngIf="section == 3">
                <form fxLayout="column" class="form" [formGroup]="form" (ngSubmit)="save()">

                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email">
                    </mat-form-field>
                    <mat-form-field *ngIf="!admin || User.id == admin.id">
                        <mat-label>Old Password</mat-label>
                        <input matInput type="password" autocomplete="new-password" placeholder="Old Password" formControlName="oldpassword">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>New Password</mat-label>
                        <input matInput type="password" placeholder="New Password" formControlName="newpassword">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Repeat New Password</mat-label>
                        <input matInput type="password" placeholder="New Password" formControlName="newpassword2"(keydown)="save2($event)">
                    </mat-form-field>
        
                    <p fxLayoutAlign="center center" style="color: red;" *ngIf="error" class="alert alert-danger">{{error}}</p>
                    <div class="buttons center-of-screen width50">
                        <button mat-raised-button (click)="cancel()" class ="button center-of-screen">Cancel</button>
                        <button mat-raised-button type="submit" class ="submit center-of-screen">Update</button>
                    </div>
                  </form>
            </div>

            <div *ngIf="section == 7" style="padding-bottom:4rem">
                <div *ngFor="let row of User.jobs">
                    <div class="job" *ngIf="User.jobs!.length > 0" (click)="getJobDetails(row.id)">
                        <div class="row">
                          <div class="column" style="flex-basis: 20%;">
                            <div *ngIf="row.user && row.user!.photo != null">
                              <img src="{{row.user!.photo}}" width="150" height="150" style="object-fit: cover;" />
                            </div>
                            <div *ngIf="row.user && row.user!.photo == null">
                                <img src="../../../assets/images/work.jpg" width="150" height="150" style="object-fit: cover;" />
                            </div>
                          </div>
                  
                          <div class="column" style="flex-basis: 70%;">
                            <div class="title">
                              <a>{{row.jobTitle}}</a>
                            </div>
                            <div class="row">
                              <div class="column">
                                <a><i class='fa fa-clock-o' style="min-width:30px;"></i>{{row.jobType}}</a>
                                <a><i class="fa fa-map-marker-alt" style="min-width:30px"></i>{{row.address}}</a>
                                <a><i class="far fa-lightbulb" style="min-width:30px"></i>{{row.experience}} </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div *ngIf="User.jobs!.length == 0">
                    <h2 class="no"> No work ads to show.</h2>
                  </div>
            </div>

            <div  *ngIf="section == 4" style="padding-bottom:4rem">
                <app-application [id]="id" [User]="User"></app-application>
            </div>
            <div  *ngIf="section == 5" style="padding-bottom:4rem">
                <div *ngIf="(admin && admin.id!=id) || !admin">
                    <app-interview [id]="id" [User]="User"></app-interview>
                </div>
                <div *ngIf="admin && admin.id==id" style="padding-bottom:4rem">
                    <app-interview [id]="id"></app-interview>
                </div>
            </div>
            <div *ngIf="section == 6">
                <app-invite-details [id]="id"></app-invite-details>
            </div>

            <div *ngIf="section == 8" style="padding-bottom:4rem">
                <div class="tabs">
                    <button *ngIf="filterResolved == false" mat-raised-button>Unresolved requests</button>
                    <button *ngIf="filterResolved == true" (click)="filterResolved = false; filter()" mat-button>Unresolved requests</button>
                    <button *ngIf="filterResolved == true" mat-raised-button>Resolved requests</button>
                    <button *ngIf="filterResolved == false" (click)="filterResolved = true; filter()" mat-button>Resolved requests</button>
                </div>

                <div *ngFor="let row of Contacts">
                    <div class="contact" *ngIf="Contacts.length > 0">
                        <div class="row">
                            <h1 style="font-size: 20px;">{{row.title}}</h1>
                            <h1 style="font-size: 18px;">{{row.email}}</h1>
                            <div class="description">
                                <mat-card-content style="white-space: pre-wrap;">
                                    <div *ngFor="let textRow of row.message.split('\n'); let i = index">
                                        <div *ngIf="(i<=5 && seeMore==false) || seeMore==true">
                                            {{textRow}}
                                        </div>
                                    </div>
                                </mat-card-content>
                                <div *ngIf="row.message.split('\n').length>5 && seeMore == false">
                                    <button mat-stroked-button (click)="seeMore = !seeMore">See more</button>
                                </div>
                                <div *ngIf="row.message.split('\n').length>5 && seeMore == true">
                                    <button mat-stroked-button (click)="seeMore = !seeMore">See less</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-bottom:2rem">
                        <button mat-button (click)="removeContact(row.id)"><i class="fa fa-trash" style="padding-right:10px"></i>Delete</button>
                        <button mat-button *ngIf="filterResolved == false" (click)="changeResolved(row)"><i class="fa fa-check-square" style="padding-right:10px; color:green"></i>Mark as resolved</button>
                        <button mat-button *ngIf="filterResolved == true" (click)="changeResolved(row)"><i class="fas fa-flag" style="padding-right:10px; color:red"></i>Mark as unresolved</button>
                    </div>
                    
                </div>
                <div *ngIf="Contacts.length == 0">
                    <h2>No unresolved requests to show.</h2>
                </div>
            </div>
        </div>
    </div>
</main>
