.page-wrap{
    min-height: 100%;
    width: 100%;
    position: relative;
  }
.header-container{
 position:fixed;
 width:100%;
 z-index: 999;
}
.main-container{
  height:100%;
  width: 100%;
}
.footer-container{
  width: 100%;
  height: 2rem;
  text-align: center;
  position:absolute;
  bottom: 0;
}
.mat-divider{
  border-style: none;
}