.main-div{
padding: 100px;
}
.main-div mat-card {
padding: 0px;
background-color: rgb(255, 251, 247);
width: 40%;
margin-top: 6rem;
}
.title{
color: rgb(0, 0, 0);
background-color: transparent;   
font-size: xx-large;
font-family: "Times New Roman", Times, serif;
}
.login-form {
padding: 10px;
width: 50%;
}

.center-of-screen{
justify-content: center;
margin-left: auto;
margin-right: auto;
text-align: center;
background-color: rgb(255, 251, 247);
}
.submit{
background-color: rgb(14, 83, 212);
color: rgb(255, 255, 255);
font-family: "Times New Roman", Times, serif;
font-size: large;
width: 50%;
margin-bottom: 2rem;
}
