
<div fxLayoutAlign="center center" class="main-div">
    
    <mat-card class="center-of-screen">
        <mat-toolbar class="title center-of-screen">
            Register
        </mat-toolbar>

        <form fxLayout="column" class="login-form center-of-screen" [formGroup]="myForm" (ngSubmit)="doRegister()">
            
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="email" formControlName="email">
                </mat-form-field>
            
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="firstName" formControlName = "firstName">
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="lastName" formControlName = "lastName">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="password" formControlName="password">
                </mat-form-field>
            
                
            
            <p fxLayoutAlign="center center" style="color: red;" *ngIf="error" class="alert alert-danger">{{error}}</p>

            <button mat-raised-button type="submit" class ="submit center-of-screen">Register</button>

          </form>
    </mat-card>
</div>
