.invite{
width:85%;
height:7rem;
//margin-left:15%;
padding: 16px;
cursor: pointer;
background-color: white;
border-radius: 5px;
margin-bottom:1rem;
box-shadow: -0.2em 0 .4em grey;
display: flex;
flex-direction: row;
}
.row {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
}
.column {
display: flex;
flex-direction: column;
flex-basis: 100%;
flex: 1;
height: 3rem;
}
h1{
width: max-content;
}
.buttons{
font-family: "Times New Roman", Times, serif;
font-size: large;
margin-left:0;
margin-bottom:2rem;
}
.button{
margin-right: 2rem;
}