.main{
    height:100%;
    min-height: 100vh;
    width: 100%;
    background: rgb(242, 244, 245);
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    }
    .page-left{
    width: 50%;
    height:100%;
    margin-top:2rem;
    }
    .section{
    padding-left: 10rem;
    width: 70%;
    margin-bottom: 5rem;
    cursor:pointer;
    height: 6rem;
    }
    .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    }
    .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    //width:50%;
    }
    
    .page-left h1{
    font-size: 24px;
    }
    .page-left h2{
    font-size: 18px;
    font-weight: 100;
    color:rgb(78, 78, 78);
    }
    .page-left i{
    align-items: right;
    }
    .page-right{
    width:50%;
    height:100%;
    flex-direction: column;
    margin-top:7rem;
    }
    .form{
    width: 70%;
    }
    input[type="file"] {
    display: none;
    }
    .custom-file-upload {
    border: 1px solid rgb(99, 99, 99);
    background-color: rgb(241, 241, 241);
    margin-left:0px;
    display: inline-block;
    width:85%;
    //padding: 6px 12px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 18px;
    height: 2rem;
    }
    .row i{
    width: 15%;
    }
    .edit mat-form-field{
    width: 100%;
      //padding-right: 30%;
    }
    .edit mat-label{
    font-size: large;
    width: 100%;
    padding-bottom: 2rem;
    padding-right: 30%;
    }
    .edit input{
    font-size: large;
    padding-top: 1rem;
    padding-right: 30%;
    }
    textarea{
    font-size: medium;
    width: 100%;
    max-width: 100%;
    border-color: black;
    padding: 15px 45px 15px 15px;
    border-width: 1px;
    margin-bottom: 15px;
    text-align: justify;
    border-radius: 5px;
    }
    .select-picker{
    border: 1px solid black;
    padding: 10px 45px 10px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 18px;
    background: white;
    }
    .center-of-screen{
    justify-content: center;
    //margin-left: auto;
    //margin-right: auto;
    text-align: center;
    }
    .buttons{
    margin-top: 2rem;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    margin-left:0;
    margin-bottom:1rem;
    }
    .button{
    margin-right: 2rem;
    }
    .submit{
    background-color: rgb(14, 83, 212);
    color: rgb(255, 255, 255);
    }
    .delete{
    background-color:red; 
    color:white;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    }
    h3{
    margin-left: 10rem;
    color:red;
    }
    .button1{
    font-size: 20px;
    background-color: rgb(33, 101, 227);
    color:white;
    font-family: "Times New Roman", Times, serif;
    }
    .column a{
    text-align: left;
    padding-left: 2rem;
    padding-top:15px;
    font-size: 14px;
    text-decoration: none;
    color: inherit;
    }
    .job{
    width:85%;
    height:12rem;
    padding: 16px;
    background-color: white;
    border-radius: 5px;
    margin-bottom:2rem;
    box-shadow: -0.2em 0 .4em grey;
    display: flex;
    flex-direction: row;
    }
    .title2{
    width:100%;
    text-align: center;
    border-bottom: 1px solid gray;
    padding:5px 0px 5px 0px;
    font-size: large;
    }
    .new-interview{
      font-size: 20px;
      padding-left:10%;
      width:70%;
    }
    .new-interview input{
      border-radius: 5px;
      border: 1px solid black;
      padding-left:10px;
      padding-bottom: 10px;
      font-size: 18px;
    }
    .date{
      border: 1px solid black;
      border-radius: 5px;
      font-size: 18px;
      padding: 0px 0px 10px 10px;
    }
    .interview-edit{
      border: 1px solid black;
      border-radius: 5px;
      font-size: 15px;
      padding: 0px 0px 5px 5px;
    }
    .column2{
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      justify-content: flex-end;
      align-items:center;
      flex: 1;
      width:20%;
      height: 100%;
    }
    .width50{
      width:60%;
    }
    .padding10{
      padding-bottom: 10px;
    }
    .interview{
      margin-top:15px;
      width:80%;
      border:1px solid grey;
      background-color: white;
    }
    .interview input{
      padding-right: 0px;
      font-size: 13px;
    }
    .height40{
      height:40px;
    }
    .height50{
      height:50px;
    }
    
    .switch {
      position: relative;
      display: inline-block;
      width:65px;
      height: 34px;
      margin-left: 20px;
      }
      
      .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
      }
      
      .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      }
      
      .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      }
      
      input:checked + .slider {
      background-color: #2196F3;
      }
      
      input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
      border-radius: 34px;
      }
      
      .slider.round:before {
      border-radius: 50%;
      }