<main class="main">
    <div class="page-left">
        <div class="company">
            <h1 class="title">{{Company.name}}</h1>
            <div class="row">
                <div class="column">
                <a>{{Company.email}}</a>
                </div>
            
                <div class="column" style="color:rgb(110, 110, 110);">
                <a>Location:  {{Company.address}}</a>
                </div>
            </div>
        </div>
        <button *ngIf="editDeleteRights" mat-stroked-button style="margin-left:20%;" (click)="editCompany(Company.id)">Manage Account</button>
    </div>
    <div class="page-right">
        <div class="details">
            <div class="tabs">
                <button *ngIf="aboutSection" (click)="aboutTrue()" mat-raised-button>About Us</button>
                <button *ngIf="!aboutSection" (click)="aboutTrue()" mat-button>About Us</button>
                <button *ngIf="!aboutSection" (click)="aboutFalse()" mat-raised-button>Our Jobs</button>
                <button *ngIf="aboutSection" (click)="aboutFalse()" mat-button>Our Jobs</button>
            </div>
            <div *ngIf="aboutSection">
                <mat-card class="description">
                    <mat-card-content>
                        <div>
                            {{Company.description}}
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div *ngIf="!aboutSection">
                <div *ngIf="!this.Company.jobs.length">
                    <h2 style="text-align:left;">No jobs to show yet.</h2>
                </div>
                <div *ngFor="let row of Company.jobs">
                    <div class="job" (click)="getJobDetails(row.id)">
                      <div class="title2">
                        <a>{{row.jobTitle}}</a>
                      </div>
                      <div class="column2">
                        <a>{{row.jobType}}</a>
                        <a>Location:  {{row.address}}</a>
                        <a>Salary:    {{row.salary | currency: 'EUR':true:'1.0-0'}} </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>