<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
<main class="main">
    <div class="column">
        <div *ngIf="admin || ( user && user.id == id)" style="text-align:right; margin-bottom:10px;">
            <button mat-raised-button (click)="editUser()">Edit profile</button>
        </div>
        <div *ngIf="admin || (company && company.role == 2) || user" style="text-align:right">
            <button mat-raised-button (click)="invite()">Invite to recruitment process</button>

        </div>
        <div *ngIf="showPrevious" style="text-align:left;margin-left:30%;">
            <button mat-stroked-button (click)="back()">Back</button>
        </div>
        <div class="container">
            <div class="column" style="width:100%;">
                <div class="row" style="flex-basis: 50%; align-items:flex-end; text-align: center;">
                    
                        <div *ngIf="User.photo != null">
                            <img src="{{User.photo}}" width="200" height="200" style="object-fit: cover;" />
                        </div>
                        <div *ngIf="User.photo == null">
                            <img src="../../../../assets/images/profilePhoto.png" width="200" height="200" style="object-fit: cover;" />
                        </div>
                </div>
                <div class="row">
                    <div class="name">{{User.firstName}} {{User.lastName}}</div>
                </div>
                <div class="row customise">
                    <div style="width:100%; height:max-content;background-color:white; border-radius:5px">
                        <div class="column">
                            <div class="row customise2">
                                <div class="tabs">
                                    <button *ngIf="aboutSection" (click)="aboutTrue()" mat-raised-button>About Me</button>
                                    <button *ngIf="!aboutSection" (click)="aboutTrue()" mat-button>About Me</button>
                                    <button *ngIf="!aboutSection" (click)="aboutFalse()" mat-raised-button>My CV</button>
                                    <button *ngIf="aboutSection" (click)="aboutFalse()" mat-button>My CV</button>
                                </div>
                            </div>
                            <div class="row" style="height:10rem">
                                <div *ngIf="aboutSection">
                                    <div class="column">
                                        <div *ngIf="User.occupation !=null">
                                            <div class="text"><i class="fa fa-briefcase" style="min-width:30px"></i>{{User.occupation}}</div>
                                        </div>
                                        <div *ngIf="User.occupation ==null">
                                            <div class="text"><i class="fa fa-briefcase" style="min-width:30px"></i> - -</div>
                                        </div>
                                        <div *ngIf="User.residence !=null">
                                            <div class="text"><i class="fa fa-map-marker-alt" style="min-width:30px"></i>{{User.residence}} </div>
                                        </div>
                                        <div *ngIf="User.residence ==null">
                                            <div class="text"><i class="fa fa-map-marker-alt" style="min-width:30px"></i> - -</div>
                                        </div>
                                        <div *ngIf="User.studies !=null">
                                            <div class="text"><i class="fas fa-graduation-cap" style="min-width:30px"></i>{{User.studies}} </div>
                                        </div>
                                        <div *ngIf="User.studies ==null">
                                            <div class="text"><i class="fas fa-graduation-cap" style="min-width:30px"></i> - -</div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!aboutSection" style="height:10rem; text-align:center">
                                    <div *ngIf="User.cv" style="height:100%; margin-top:10px">
                                        <div class="row">
                                            <div class="column" style="margin-left: 40%;">
                                                <object type="application/pdf" width="100%" height="100%"  style="cursor:pointer"[data]="getSafeUrl(User.cv)" id="pdf_content"></object>
                                                
                                            </div>
                                            <div class="column">
                                                <div class="row" style="justify-content:center; margin-top:20px">
                                                    <button mat-stroked-button style="margin-right:10px" (click)="getCV(User.cv)"><i class="fa fa-eye"></i></button>
                                                    <button mat-stroked-button style="margin-right:10px" (click)="downloadCV(User.cv)"><i class="fa fa-download"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div *ngIf="!User.cv">
                                        <div class="text">No CV to show.</div>
                                        
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>


</main>