<div *ngIf="user" style="padding-bottom:1rem">
    <button *ngIf="!myJobs" style="padding-right:10px" (click)="myJobsFalse()" mat-raised-button>My interviews</button>
    <button *ngIf="myJobs" style="padding-right:10px" (click)="myJobsFalse()" mat-button>My interviews</button>
    <button *ngIf="myJobs" (click)="myJobsTrue()" mat-raised-button>Interview for my web ads</button>
    <button *ngIf="!myJobs" (click)="myJobsTrue()" mat-button>Interview for my web ads</button>
</div>
<div *ngIf="(user && myJobs == false)">
    <h2>Filter by Company</h2>
    <select [(ngModel)]="filterByCompanyId" class="select-picker width50" (change) = "filter()">
        <option>All</option>
        <option *ngFor = "let item of CompanyList" [value]="item.id">
            {{item.name}}
        </option>
    <i class='fa fa-angle-down'></i>
    </select>
</div>
<div *ngIf="comp || (!comp && filterByCompanyId!='All' && filterByCompanyId != '')">
    <h2>Filter by job</h2>
    <select [(ngModel)]="filterByJobId" class="select-picker width50" (change) = "filter()">
        <option>All</option>
        <option *ngFor = "let item of selectedCompany.jobs" [value]="item.id">
            {{item.jobTitle}}
        </option>
        <i class='fa fa-angle-down'></i>
    </select>
</div>

<div style="height:3rem;">
    <div *ngIf="interviews.length == 0">
        <h2 style="text-align:left;">No interviews to show yet.</h2>
    </div>
</div>
<div *ngFor="let intv of interviews">
    <div class="job">
        <div class="row">
            <div class="column" style="border-right: 1px solid grey">
                <div *ngIf="editInterview == true && newInterview.id == intv.id">
                    <div class="row height50">
                        <div class="column" style="width:50%">
                            <a style="padding-right:10px">Date</a>
                        </div>
                        <div class="column height40" style="width: 50%">
                            <input class="interview-edit" [(ngModel)]="newInterview.date" type="datetime-local">
                        </div>
                    </div>
                    <div *ngIf="user" class="column">
                        <a class="height50" *ngIf="intv.isOnline == true"> Form of interview: Online </a>
                        <a class="height50" *ngIf="intv.isOnline == false"> Form of interview: In person </a>
                    </div>
                    <div class="row height50" *ngIf="!user">
                        <div class="column" style="width:50%">
                            <a style="padding-right:10px">Form of interview</a>
                        </div>
                        <div class="column height40"  style="width:50%">
                            <select id="newInterview.isOnline" [(ngModel)]="isOnline" class="interview-edit" placeholder="isOnline" style="height:40px"(change) = "convertIsOnline()">
                                <option>Online</option><option>In person</option>
                            <i class='fa fa-angle-down'></i></select>
                        </div>
                    </div>
                    <div *ngIf="user" class="column">
                        <a class="height50" *ngIf="intv.isOnline == true">Link: {{intv.location}}</a>
                        <a class="height50" *ngIf="intv.isOnline == false">Address: {{intv.location}}</a>
                    </div>
                    <div class="row height50" *ngIf="!user">
                        <div class="column" style="width:50%">
                            <a *ngIf="isOnline == 'Online'">Link</a>
                            <a *ngIf="isOnline == 'In person' || isOnline == ''">Address</a>
                        </div>
                        <div class="column height40"  style="width:50%">
                            <input style="text-transform: capitalize;" class="interview-edit" [(ngModel)]="newInterview.location">
                        </div>
                    </div>
                    
                </div>
                <div *ngIf="editInterview == false || (editInterview == true && newInterview.id != intv.id)" class="column">
                    <a class="height50"> Date: {{intv.date | date: 'dd/MM/yyyy hh:mm a'}}</a>
                    <a class="height50" *ngIf="intv.isOnline == true"> Form of interview: Online </a>
                    <a class="height50" *ngIf="intv.isOnline == false"> Form of interview: In person </a>
                    <a class="height50" *ngIf="intv.isOnline == true">Link: {{intv.location}}</a>
                    <a class="height50" *ngIf="intv.isOnline == false">Address: {{intv.location}}</a>
                </div>
                
            </div>
            <div class="column">
                <a *ngIf="intv.responseUser == false && !user"><i class="fa fa-close" style="color:red"></i>Candidate has not accepted the interview details yet.</a>
                        <a *ngIf="intv.responseUser == false && user && myJobs == false"><i class="fa fa-close" style="color:red"></i>You have not accepted the interview request yet.</a>
                        <a *ngIf="intv.responseUser == false && user && myJobs == true"><i class="fa fa-close" style="color:red"></i>Candidate has not accepted the interview request yet.</a>
                        <a *ngIf="intv.responseUser == true && !user"><i class="fa fa-check-square-o" style="color:green"></i>Candidate has accepted the interview details.</a>
                        <a *ngIf="intv.responseUser == true && user && myJobs == false"><i class="fa fa-check-square-o" style="color:green"></i>You have accepted the interview request.</a>

                        <a *ngIf="intv.responseUser == true && user && myJobs == true"><i class="fa fa-check-square-o" style="color:green"></i>Candidate has accepted the interview request.</a>
                        <a *ngIf="intv.responseCompany == false && (comp || (user && myJobs == true))"><i class="fa fa-close" style="color:red"></i>You have not accepted the interview date yet.</a>
                        <a *ngIf="intv.responseCompany == true && (comp || (user && myJobs == true))"><i class="fa fa-check-square-o" style="color:green"></i>You have approved the interview details.</a>
                        <a *ngIf="intv.responseCompany == false && intv.application!.job!.company && !comp && (!user || myJobs == false)"><i class="fa fa-close" style="color:red"></i>The company has not accepted the interview date alteration yet.</a>
                        <a *ngIf="intv.responseCompany == false && intv.application!.job!.user && !comp && (!user || myJobs == false)"><i class="fa fa-close" style="color:red"></i>The user has not accepted the interview date alteration yet.</a>
                        <a *ngIf="intv.responseCompany == true && intv.application!.job!.company && !comp && (!user || myJobs == false)"><i class="fa fa-check-square-o" style="color:green"></i>The company has approved the interview details.</a>
                        <a *ngIf="intv.responseCompany == true && intv.application!.job!.user && !comp && (!user || myJobs == false)"><i class="fa fa-check-square-o" style="color:green"></i>The user has approved the interview details.</a>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button mat-button *ngIf="(editInterview == false || (editInterview == true && newInterview.id != intv.id)) && !user" (click)="editInterviewTrue(intv)"><i class="fa fa-edit" style="padding-right:10px"></i>Edit</button>
        <button mat-button *ngIf="(editInterview == false || (editInterview == true && newInterview.id != intv.id)) && user" (click)="editInterviewTrue(intv)"><i class="fa fa-edit" style="padding-right:10px"></i>Request interview rescheduling</button>
        <button mat-button *ngIf="editInterview == true && newInterview.id == intv.id" (click)="saveInterview()"><i class="fa fa-check-square-o" style="color:green;padding-right:10px"></i>Done</button>
        <button mat-button *ngIf="editInterview == true && newInterview.id == intv.id" (click)="editInterviewFalse()"><i class="fa fa-close" style="color:red;padding-right:10px"></i>Cancel</button>
        <button mat-button *ngIf="!user" (click)="deleteInterview(intv)"><i class="fa fa-trash" style="padding-right:10px"></i>Delete</button>
        <button mat-button *ngIf="!comp" style="color:red" (click)="rejectInterview(intv)"><i class="fa fa-trash" style="padding-right:10px"></i>Reject</button>
        <button mat-button *ngIf="intv.responseUser == false && user" style="color:green;padding-right:10px" (click)="confirm(intv)">Accept interview</button>
        <button mat-button *ngIf="intv.responseCompany == false && comp" style="color:green;padding-right:10px" (click)="confirm(intv)">Accept interview date change</button>
        <button mat-stroked-button *ngIf="seeApplication.id != intv.id" (click)="seeApplicationTrue(intv)">See application</button>
        <button mat-stroked-button *ngIf="seeApplication.id == intv.id" (click)="seeApplicationFalse()">Hide application</button>
    </div>
    <div *ngIf="seeApplication.id == intv.id" style="width:70%;">
        <div class="job">
            <div class="row">
                <div class="column width50" style="padding-top:0.5rem">
                    <object type="application/pdf" width="100%" height="100%" [data]="getSafeUrl(intv.application!.cv)" id="pdf_content"></object>
                </div>
                <div class="column width50"style="margin-botttom:15px; flex-basis:45%">
                    <div class="title2" style="cursor:pointer" (click)="getJobDetails(intv.application)">
                        <a>{{intv.application?.job?.jobTitle}}</a>
                        <a *ngIf="admin && intv.application?.job?.companyId">{{intv.application?.job!.company!.name}}</a>
                        <a *ngIf="admin && intv.application?.job?.userId">{{intv.application?.job!.user!.firstName}} {{intv.application?.job!.user!.lastName}}</a>
                    </div>
                    <div class="title2" style="cursor:pointer">
                        <a *ngIf="!user" (click)="getUserDetails(intv.application?.userId)">{{intv.application?.user!.firstName}} {{intv.application?.user!.lastName}}</a>
                        <a *ngIf="user && intv.application?.job?.companyId" (click)="getCompanyDetails(intv.application?.job!.companyId)">{{intv.application?.job!.company!.name}}</a>
                        <a *ngIf="user && intv.application?.job?.userId && id != intv.application?.job?.userId" (click)="getUserDetails(intv.application?.job!.userId)" >{{intv.application?.job!.user!.firstName}} {{intv.application?.job!.user!.lastName}}</a>
                        <a *ngIf="user && intv.application?.job?.userId && id == intv.application?.job?.userId" (click)="getUserDetails(intv.application?.userId)">{{intv.application?.user!.firstName}} {{intv.application?.user!.lastName}}</a>
                    </div>
                    <a style="text-align: center"><i class="fa fa-clock-o" style="min-width:30px"></i>Status: {{intv.application?.status}}</a>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button mat-stroked-button style="margin-right:10px" (click)="getCV(intv.application)"><i class="fa fa-eye"></i></button>
            <button mat-stroked-button style="margin-right:10px" (click)="downloadCV(intv.application)"><i class="fa fa-download"></i></button>
        </div>
    </div>
</div>