<div class="main">
    <div *ngIf="company || user"  style="height:8rem; width:100%">
        <div *ngIf="availableJobs.length">
            <h1>Select a job</h1>
            <select [(ngModel)]="selectedJob" class="select-picker width50">
                <option disabled selected value> -- select an option -- </option>
                <option *ngFor = "let item of availableJobs" [value]="item.id">
                    {{item.jobTitle}}
                </option>
            <i class='fa fa-angle-down'></i>
            </select>
        </div>
        <div *ngIf="!availableJobs.length">
            <h1 *ngIf="company" style="text-align:center;">You have invited this person to all the job and work ad recruitment processes or they have already applied.</h1>
            <h1 *ngIf="user" style="text-align:center;">You have invited this person to all the work ad recruitment processes or they have already applied.</h1>
        </div>
    </div>


    <div *ngIf="admin" style="height:14rem;width:100%">
        <mat-checkbox [checked]="ownerIsCompany" (change)="ownerIsCompany = !ownerIsCompany">Posted by a company</mat-checkbox>
        <mat-checkbox style="padding-left:20px" [checked]="!ownerIsCompany" (change)="ownerIsCompany = !ownerIsCompany">Posted by a user</mat-checkbox>
        <div *ngIf="ownerIsCompany == true">
            <h1>Select a company</h1>
            <select class="select-picker" (change)="changeCompany($event)">
                <option *ngFor = "let item of CompanyList" [value]="item.id">
                    {{item.name}}
                </option>
            </select>
            <div *ngIf="selectedCompany">
                <div *ngIf="availableJobs.length">
                    <h1>Select a job</h1>
                    <select [(ngModel)]="selectedJob" class="select-picker">
                        <option *ngFor = "let item of availableJobs" [value]="item.id">
                            {{item.jobTitle}}
                        </option>
                    </select>
                </div>
                <div *ngIf="!availableJobs.length">
                    <h1>No more jobs to invite to.</h1>
                </div>
            </div>
        </div>

        <div *ngIf="ownerIsCompany == false">
            <h1>Select a user</h1>
            <select class="select-picker" (change)="changeUser($event)">
                <option *ngFor = "let item of UserList" [value]="item.id">
                    {{item.firstName}} {{item.lastName}} {{item.id}}
                </option>
            </select>
            <div *ngIf="selectedUser">
                <div *ngIf="availableJobs.length">
                    <h1>Select a job</h1>
                    <select [(ngModel)]="selectedJob" class="select-picker">
                        <option *ngFor = "let item of availableJobs" [value]="item.id">
                            {{item.jobTitle}}
                        </option>
                    </select>
                </div>
                <div *ngIf="!availableJobs.length">
                    <h1>No more jobs to invite to.</h1>
                </div>
            </div>
        </div>
    </div>
    <button mat-raised-button class="button" *ngIf="availableJobs.length" (click)="sendInvite()">Invite</button>
</div>
