<!-- <div ng-include src="'../user-menu/user-menu.component.html'"></div> -->

<mat-toolbar style="background-color: chocolate;">
  <button mat-flat-button color="primary" routerLink="/dashboard">
      <h1>IJobs</h1>
  </button>
  <span class="menu-spacer"></span>
  <div>
    <a mat-button routerLink="/companies"> Companies </a>
    <a mat-button routerLink="/jobs"> Jobs </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxLayoutGap="10px">

      <span style="width: 50px;"></span>
      <button mat-raised-button color="basic" fxLayoutAlign="stretch">Profile</button>
      <button mat-raised-button color="warn" (click)="logout()" fxLayoutAlign="stretch">Logout</button>
  </div>
</mat-toolbar>
<div fxLayoutAlign="center center" fxFlexFill class="main-div">

</div>