<link rel="stylesheet"
          href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<main class="main">
    <div class="dashboard">
        <div class="row">
            <h1>Start your journey!</h1>
        </div>
        <div class="row">
            <div class="column">
                <img class="image" src="../../../assets/images/companyMain.png" width="300" height="300"/>
                <button mat-button class="search" routerLink="/companies">Look through our companies
                    <i class='fa fa-angle-right' style='font-size:20px'></i></button>
            </div>
            
            <div class="column">
                <img class="image" src="../../../assets/images/jobsMain.jpg" width="300" height="300"/>
                <button mat-button class="search" *ngIf="!company" routerLink="/jobs">Search for a job
                    <i class='fa fa-angle-right' style='font-size:20px'></i></button>
                <button mat-button class="search" *ngIf="company" routerLink="/jobs">Post a job
                    <i class='fa fa-angle-right' style='font-size:20px'></i></button>
            </div>
            
            <div class="column">
                <img class="image" src="../../../assets/images/peopleMain.jpg" width="300" height="300"/>
                <button mat-button class="search" routerLink="/users">Our community
                    <i class='fa fa-angle-right' style='font-size:20px'></i></button>
            </div>
        </div>
    </div>
</main>