.main{
    height: 100%;
    min-height: 100vh;
    background: rgb(242, 244, 245);
    padding-bottom: 4rem;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
.page-left{
    width: 35%;
    background-image: url("../../../assets/images/company-removebg-preview.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    //background-size: 100% 100%;
    background-position: 5rem;
    padding-top:11rem;
}
.page-right{
    width:65%;
    flex-direction: column;
    margin-top: 8rem;
}
.verify{
  display:flex;
  height:3rem;
  width:35%;
  align-items:center;
  position: fixed;
  justify-content: center;
}
.image{
    width:100%;
}
.company{
    width:60%;
    height:12rem;
    margin-left:15%;
    padding: 16px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    margin-bottom:2rem;
    box-shadow: -0.2em 0 .4em grey;
  }
  .title{
    width:100%;
    border-bottom: 1px solid gray;
    padding: 15px 45px 15px 30px;
    font-size: x-large;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width:50%;
    height: 3rem;
  
  }
  .column a{
    padding-left:30px;
    padding-top:15px;
    font-size: 18px;
  }