<body class="main">
<div class="page-left">
</div>

<div class="page-right">
  <div *ngFor="let row of CompanyList">
    <div class="company" (click)="getCompanyDetails(row.id)">
      <div class="title">
        <a>{{row.name}}</a>
      </div>
      <div class="row">
        <div class="column">
          <a>{{row.email}}</a>
        </div>
    
        <div class="column" style="color:rgb(110, 110, 110);">
          <a>Location:  {{row.address}}</a>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
